
h2 {
    font-size: 50px; /*because why not*/
}

.articlesContainer{
    border: solid 1px;
}

.container{
    background-color: peru;
}

body{
    display: block;
    justify-content: center;
    background-color: chocolate;
}

